/* position the title and button on the left and the illustration on the right */
.middle {
  display: flex;
  justify-content: space-between;
}

#index_Left {
  margin-top: 30px;
}

.title {
  color: #5680e9;
  font-weight: 500;
}

/* style the "start" button */
#index_Left button {
  width: 110px;
  height: 40px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 18px;
  margin-top: 100px;
  background-color: #5680e9;
  color: white;
  border: 0px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 50%);
  transition: background-color 0.3s;
}

#index_Left button:hover {
  cursor: pointer;
  background-color: hsl(223, 77%, 53%);
}

/* bolder font for "Study Conqueror" */
.bolder {
  font-weight: 600;
}

#illustration {
  width: 60%;
}

/* position three questions in the button, evenly disributed */
.bottom {
  margin-top: 60px;
  height: 10px;
  color: #8860d0;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* mobile edition */
@media screen and (max-width: 720px) {
  /* display the middle items vertically */
  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
  }
  .middle img {
    margin:0 auto;
    margin-top: 50px;
    width: 100%;
  }
  #index_Left button {
    margin-top: 50px;
  }
  
  /* display three questions vertically */
  .bottom {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .bottom span {
    padding-top: 10px;
  }
}